$colorPrimary: #08cb7b;
$colorHover:#94cb53;
$colorBlack:#000000;
$colorLight: #ebebeb;
$colorDark:#30405f;
$colorLive: #ff9933;
$colorWhite:#ffffff;

// font
$fontPrimary: 'Orbitron', sans-serif;
$fontSecondary: 'Barlow', sans-serif;