$colorPrimary: #08cb7b;
$colorHover:#94cb53;
$colorBlack:#000000;
$colorLight: #ebebeb;
$colorDark:#212733;
$colorDarkBlue:#283449;
$colorLighterBlue:#30405f;
$colorContrastBlue:#556f9c;
$colorLive: #ff9933;
$colorWhite:#ffffff;
$colorGetOffersBtn:#1a8f3d;
$colorHeaderCopyright:#1b222e;
$colorSocial:#babcd9;
$colorMailNewsletter:#425374;
$colorScrollbarBg:#00003e;
$colorScrollThumb:#5732c6;
$colorLoader:#1c263c;

// font
$fontPrimary: 'Orbitron', sans-serif;
$fontSecondary: 'Barlow', sans-serif;