@use 'partials/variables' as *;
@import 'bootstrap/scss/bootstrap';

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss'; 
@import '@fortawesome/fontawesome-free/scss/regular.scss'; 
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&family=Orbitron:wght@400;600;700;900&display=swap');


// general 
body{
    background-color: $colorBlack;
    color: $colorWhite;
    font-family: $fontSecondary;
    &::-webkit-scrollbar {
        background-color: $colorScrollbarBg;
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $colorScrollThumb;
        border-radius: 3px;
    }
}
html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
    font-family: $fontPrimary;
    font-weight: bold;

}
h2 {
    font-weight: bold;
    font-size: 3.5em;
}
h4 {
    color: $colorHover;
    font-weight: bold;

}
p{
    color:$colorLight;
    font-size: 1.1em;
}
ul {
    padding-left: 0;
}
a{
    text-decoration: none;
    color: $colorWhite !important;
}
li {
    list-style-type: none;
}
section{
    padding-top: 100px;
    padding-bottom: 100px;
}
.svg{
    filter: invert(100%);
}
// buttons 
button {
    background-color: $colorPrimary;
    padding: 13px 25px;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    outline-offset: 4px;
    outline: 1px solid $colorPrimary;
    border-radius: 50px;
    transition: all 0.4s;
    font-size: 1.1em;
    &:hover {
        background-color: $colorHover;
        outline-offset: 4px;
        outline: 1px solid $colorHover;
        
    }
    &:active{
        transform: scale(1.01);
    }
}
.play-btn {
    width: 50px;
    height: 50px;
    background-color: $colorWhite;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .play-btn-outline{
        position: absolute;
        top: -10px;
        left:-10px;
        width: 70px;  
        height: 70px;   
        border-radius: 50%; 
        border: 1px solid $colorPrimary;
        animation: outline-animation 5s ease-in-out infinite;
        @keyframes outline-animation{

            50%{
           transform: scale(1.1);
            }

        }
    }

    &:hover{
        cursor: pointer;

    }

}
